# Neoenergia Portal Credentials
NEO_CPF=000.000.000-00
NEO_SENHA=sua_senha_aqui

# reCAPTCHA Automation (2Captcha API Key)
API_KEY_2CAPTCHA=

# SMTP Email Notifications (Gmail example)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-de-aplicativo
